<nav class="navbar navbar-expand-lg navbar-light bg-info pt-2 pb-2">
    <a class="navbar-brand" href="#">
        <h6 class="color1"><i class="fa fa-users" aria-hidden="true"></i>  Admin Panel</h6>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active ">
          <a class="nav-link" href="{% url 'Home' %}"><i class="fa fa-home color2" aria-hidden="true"></i> Home </a>
        </li>
        
        {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'Profile' %}"><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'Logout' %}"><i class="fa fa-users" aria-hidden="true"></i>Logout</a>
        </li>
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'Login' %}"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'Register' %}"><i class="fa fa-users" aria-hidden="true"></i> Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>